Repository sociomantic-tsunami/swarm, pull requests merged in 2019-05, with the labels that each got.

#397 Pass received data as `const(void)[]` from `EventDispatcher.receive`
  integrationtest/neo/client/request/internal/Get.d
  relnotes/RequestOnConn.migration.md
  src/swarm/neo/connection/RequestOnConnBase.d
Labels: type-breaking

#398 Return node's status from `client.RequestOnConn.useNode`
  relnotes/RequestHandlers.migration.md
  src/swarm/neo/client/RequestHandlers.d
  src/swarm/neo/client/RequestOnConn.d
Labels: part-client, type-breaking

#400 Add unittest for pointer behaviour of StructPacker
  src/swarm/neo/util/StructPacker.d
Labels: part-client, type-feature

#401 Remove deprecated static ifs in RequestMap.addHandler
  integrationtest/neo/node/request/DoublePut.d
  integrationtest/neo/node/request/Get.d
  integrationtest/neo/node/request/GetAll.d
  integrationtest/neo/node/request/Put.d
  integrationtest/neo/node/request/RoundRobinPut.d
  src/swarm/neo/node/ConnectionHandler.d
Labels: part-node, type-deprecation

#402 Add static checks for members of `Request` type in `ConnectionHandler`
  src/swarm/neo/node/ConnectionHandler.d
Labels: part-node, type-refactoring
